@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip-click .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip-click .tooltip-text visible {
  visibility: visible !important;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.markdown h1 {
    @apply text-4xl font-black mt-2;
}

.markdown h2 {
  @apply text-2xl font-extrabold mt-2 ml-4;
}

.markdown h3 {
  @apply text-xl font-bold mt-2 ml-6;
}

.markdown p {
  @apply text-lg mt-2 ml-8;
}

.markdown a {
  @apply text-blue-600 underline;
}

.markdown .toc {
    @apply border-solid border-4 border-gray-600 w-full p-1;
}

.markdown ol {
    @apply text-lg mt-2 ml-16 list-decimal
}

.markdown ul {
    @apply text-lg mt-2 ml-6 list-disc
}