<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Netherlands Covid Analytics</title>
    <meta name="author" content="sikerdebaard">
    <meta name="description" content="Covid Analytics NL">
    <meta name="keywords" content="covid, netherlands, icu, intensive care, analytics, dashboard, covid analytics, covid dashboard, corona analytics, corona dashboard, covid analytics netherlands, corona analytics netherlands">

    <link rel="icon" type="image/png" href="favicon-32x32.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="tailwind.css?cachebuster=2" rel="stylesheet">
    {#<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" crossorigin="anonymous"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" crossorigin="anonymous"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13163098-2"></script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-13163098-2', { 'anonymize_ip': true });
        var $buoop = {required:{e:16,f:65,o:58,s:10,c:71},insecure:true,mobile:false,style:"corner",api:2020.04 };
        function $buo_f(){
         var e = document.createElement("script");
         e.src = "https://browser-update.org/update.min.js";
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>


</head>


<body class="bg-blue-800 font-sans leading-normal tracking-normal mt-0">

<div class="bg-blue-800 p-2 shadow text-xl text-white flex">
    <div class="w-1/5 text-right"></div>
    <h3 class="w-3/5 font-bold pl-2 text-center">Covid Analytics NL (Last Update: {{last_update}})</h3>
    <div class="w-1/5 text-right">
        <a class="tooltip mr-2 pl-2 pr-2 md:inline hover:bg-blue-600" href="explanation.html">
            <i class="far fa-question-circle"></i><span class="tooltip-text bg-blue-600 mt-12 -ml-32 rounded">Explanations</span>
        </a>
        <a class="tooltip mr-2 pl-2 pr-2 md:inline hover:bg-blue-600" href="changelog.html">
            <i class="fa fa-newspaper"></i><span class="tooltip-text bg-blue-600 mt-12 -ml-32 rounded">Changelog</span>
        </a>
        {# <p class="tooltip mr-2 pl-2 pr-2 md:inline hover:bg-blue-600">
             <i class="fa fa-info hover:fa-invert"></i><span class="tooltip-text bg-blue-600 mt-12 -ml-32 rounded">About us</span>
        </p> #}
    </div>
</div>

<div class="flex flex-col md:flex-row">



    <div class="bg-blue-800 z-10 h-16 fixed bottom-0 xl:relative xl:h-screen w-full xl:w-48">
        <div class="xl:mt-16 xl:w-48 xl:fixed xl:left-0 xl:top-0 content-center xl:content-start text-left justify-between">
            <ul class="list-reset flex flex-row xl:flex-col py-0 xl:py-3 px-1 xl:px-2 text-center xl:text-left">
                <li class="mr-3 flex-1">
                    <a href="index.html"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline {% if page == 'icu' %}border-sand-500{% else %}border-white-800{% endif %} hover:text-white border-b-2">
                        <i class="fas fa-procedures pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white-600 xl:text-white-400 block xl:inline-block">ICU</span>
                    </a>
                </li>

                <li class="mr-3 flex-1">
                    <a href="hospital.html"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline {% if page == 'hospital' %}border-sand-500{% else %}border-white-800{% endif %} hover:text-white border-b-2">
                        <i class="fas fa-hospital pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white-600 xl:text-white-400 block xl:inline-block">Hospital</span>
                    </a>
                </li>

                <li class="mr-3 flex-1">
                    <a href="vaccination.html"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline {% if page == 'vaccination' %}border-sand-500{% else %}border-white-800{% endif %} hover:text-white border-b-2 hover:border-red-500">
                        <i class="fa fa-syringe pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white-600 xl:text-white-400 block xl:inline-block">Vaccination</span>
                    </a>
                </li>

                <li class="mr-3 flex-1">
                    <a href="population.html"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline {% if page == 'population' %}border-sand-500{% else %}border-white-800{% endif %} hover:text-white border-b-2 hover:border-red-500">
                        <i class="fa fa-users pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white-600 xl:text-white-400 block xl:inline-block">Population</span>
                    </a>
                </li>

                <li class="mr-3 flex-1">
                    <a href="mobility.html"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline {% if page == 'mobility' %}border-sand-500{% else %}border-white-800{% endif %} hover:text-white border-b-2 hover:border-red-500">
                        <i class="fa fa-walking pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white-600 xl:text-white-400 block xl:inline-block">Mobility</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>

    <div class="main-content flex-1 bg-gray-100 mt-0 xl:mt-0 pb-24 xl:pb-5">

       {% include template with context %}


        <div class="w-full p-2">
            {# <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="data.csv">download raw chart
                data</a></div>
            <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="demographics.csv">download raw
                demographics data</a></div>
            <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="mortality_displacement.csv">download
                raw mortality displacement data</a></div> #}
            <div class="text-gray-700 text-center p-2"><a class="fab fa-github fa-2x"
                                                          href="https://github.com/Sikerdebaard/opencoronastats"></a>
            <a class="fab fa-twitter fa-2x"
                                                          href="https://twitter.com/covid_nl"></a>
            </div>
            <div class="text-gray-700 text-center p2">&copy; 2020-2021 covid-analytics.nl | All rights reserved | <a href="https://github.com/Sikerdebaard/opencoronastats/blob/master/LICENSE">Disclaimer</a></div>
        </div>
    </div>
</div>

</body>

<script>
var clipboard = new ClipboardJS('.clippy', {
    text: function(trigger) {
        var els = document.getElementsByClassName('clippy-tt');
        for (var i = 0; i < els.length; i++) {
            var el = els[i]
            el.classList.remove("visible")
        }

        var tt = document.getElementById(trigger.id + '-tt')

        if (tt != null) {
            tt.classList.add("visible");
        }

        var url = document.location.href.split('#')[0] + trigger.getAttribute('urlid');
        return url;
    }
});

clipboard.on('success', function(e) {
  //console.log(e);
});

clipboard.on('error', function(e) {
  console.log(e);
});
</script>

</html>
