<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Netherlands COVID Analytics</title>
    <meta name="author" content="T. Phil">
    <meta name="description" content="The Netherlands COVID Analytics">
    <meta name="keywords" content="covid, netherlands, icu, intensive care, analytics, dashboard, covid analytics, corona analytics, corona statsistics, corona dashboard, covid dashboard">

    <link rel="icon" type="image/png" href="favicon-32x32.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="tailwind-min.css?ver={}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
            integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
    <script src="plotdata.js?ver=21"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13163098-2"></script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-13163098-2', { 'anonymize_ip': true });
    </script>


</head>

<!-- TODO -->
<!-- add average ICU time until recovery and death -->

<body class="bg-gray-900 font-sans leading-normal tracking-normal mt-0">

<!--<div class="fixed z-50 bottom-2 left-2">-->
<!--    <img src="https://www.erasmusmc.nl/-/media/ErasmusMC/Images/1-Algemene-beelden/logo-erasmus-mc-sm.png?h=72&w=183&la=en&hash=EA93A0863AD074D1EC5AA80CE217608F3BA92809">-->
<!--</div>-->

<div class="bg-blue-800 p-2 shadow text-xl text-white">
        <h3 class="font-bold pl-2">🇳🇱 The Netherlands COVID Analytics (Last Update:
            <div id="last-update" class="inline"></div>
            )
        </h3>
    </div>

<div class="flex flex-col md:flex-row">



    <div class="bg-gray-900 shadow-xl h-16 fixed bottom-0 mt-0 xl:relative xl:h-screen z-10 w-full xl:w-48">

        <div class="xl:mt-12 xl:w-48 xl:fixed xl:left-0 xl:top-0 content-center xl:content-start text-left justify-between">
            <ul class="list-reset flex flex-row xl:flex-col py-0 xl:py-3 px-1 xl:px-2 text-center xl:text-left">
                <li class="mr-3 flex-1">
                    <a href="#"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
                        <i class="fas fa-tasks pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-gray-600 xl:text-gray-400 block xl:inline-block">ICU</span>
                    </a>
                </li>
                <li class="mr-3 flex-1">
                    <a href="#"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
                        <i class="fas fa-chart-area pr-0 xl:pr-3 text-blue-600"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-white xl:text-white block xl:inline-block">Hospital</span>
                    </a>
                </li>
                <li class="mr-3 flex-1">
                    <a href="#"
                       class="block py-1 xl:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                        <i class="fa fa-envelope pr-0 xl:pr-3"></i><span
                            class="pb-1 xl:pb-0 text-xs xl:text-base text-gray-600 xl:text-gray-400 block xl:inline-block">Population</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>

    <div class="main-content flex-1 bg-gray-100 mt-0 xl:mt-0 pb-24 xl:pb-5">

        <div class="flex flex-wrap">
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="red-green-swap bg-green-100 border-b-4 border-green-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="red-green-swap rounded-full p-5 bg-green-600"><i
                                    class="fa fa-superscript fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 id="doubling-rate" class="font-bold uppercase text-gray-600">Doubling rate</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="doubling-rate-val" class="inline"></div>
                                day(s) <span class="red-green-swap text-green-500"><i id="doubling-rate-arrow"
                                                                                      class="fas fa-caret-up"></i></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Doubling-Rate-and-Half-Life">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="red-green-swap bg-green-100 border-b-4 border-green-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="red-green-swap rounded-full p-5 bg-green-600"><i
                                    class="fa fa-chart-line fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Daily growth rate</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="growth-trend" class="inline"></div>
                                % <span class="red-green-swap text-green-500"><i id="growth-trend-arrow"
                                                                                 class="fas fa-caret-up"></i></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Daily-growth-rate">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>

        </div>

        <div class="flex flex-wrap">
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="bg-green-100 border-b-4 border-green-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-green-600"><i class="fa fa-home fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Patients recovered from ICU</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="patients-recovered-icu" class="inline"></div>
                                <span class="mortality-colors text-green-500"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Patients-recovered-from-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="bg-red-100 border-b-4 border-red-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-red-600"><i class="fa fa-skull fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Patients deceased in ICU</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="patients-died-icu" class="inline"></div>
                                <span class="text-red-500"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Patients-deceased-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>

        </div>

        <div class="flex flex-wrap">
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="bg-gray-100 border-b-4 border-gray-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-gray-600"><i class="fa fa-bed fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Beds taken in ICU</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="beds-taken-icu" class="inline"></div>
                                <span class="text-gray-500"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Beds-taken-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Metric Card-->
                <div class="mortality-colors bg-green-100 border-b-4 border-green-600 rounded-xl shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="mortality-colors rounded-full p-5 bg-green-600"><i
                                    class="fas fa-skull-crossbones fa-2x fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right xl:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Case Fatality Rate in ICU</h5>
                            <h3 class="font-bold text-3xl">
                                <div id="mortality-in-icu" class="inline"></div>
                                % <span class="mortality-colors text-green-500"><i id="mortality-arrow"
                                                                                   class="fas fa-balance-scale"></i></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end p-2">
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Case-Fatality-Rate-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
        </div>

        <!-- charts -->
        <div class="flex flex-row flex-wrap flex-grow mt-2">

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl min-h-70p max-h-70p">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Confirmed COVID patients in ICU</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-num-patients" class="chartjs h-full" width="undefined" height="undefined"></canvas>
                    </div>
                </div>
                <div class="flex justify-between p-2">
                    <div class="text-gray-400">Source: <a href="https://www.stichting-nice.nl/covid-19-op-de-ic.jsp">Stichting-NICE</a>
                    </div>
                    <div class="justify-end text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Confirmed-COVID-patients-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Growth of confirmed COVID patients in ICU</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-growth" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-between p-2">
                    <div class="text-gray-400"></div>
                    <div class="text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Growth-of-confirmed-COVID-patients-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
        </div>

        <div class="flex flex-row flex-wrap flex-grow mt-2">

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Evolution of mortality rate in ICU</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-mortality-rate" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-between p-2">
                    <div class="text-gray-400"></div>
                    <div class="justify-end text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Evolution-of-mortality-rate-in-ICU">Explanation</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>

            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Patients recovered vs. deceased</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-recovery-vs-death" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-between p-2">
                    <div class="text-gray-400">Source: <a href="https://www.stichting-nice.nl/covid-19-op-de-ic.jsp">Stichting-NICE</a>
                    </div>
                    <div class="justify-end text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Patients-recovered-vs.-deceased">Explanation</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
        </div>

        <div class="flex flex-row flex-wrap flex-grow mt-2">
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Demographics of patients in ICU</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-demographics" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-start p-2">
                    <div class="text-gray-400">Source: <a href="https://www.stichting-nice.nl/covid-19-op-de-ic.jsp">Stichting-NICE</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Demographics of deceased patients</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-demographics-death" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-start p-2">
                    <div class="text-gray-400">Source: <a href="https://www.stichting-nice.nl/covid-19-op-de-ic.jsp">Stichting-NICE</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
        </div>

        <div class="flex flex-row flex-wrap flex-grow mt-2">
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Demographics of recovered patients</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="icu-demographics-recovered" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-start p-2">
                    <div class="text-gray-400">Source: <a href="https://www.stichting-nice.nl/covid-19-op-de-ic.jsp">Stichting-NICE</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
            <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-xl shadow-xl">
                    <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-xl rounded-tr-xl p-2">
                        <h5 class="font-bold uppercase text-gray-600">Mortality displacement over the population of NL
                            by weeknumber</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="mortality-displacement-nl" class="chartjs" width="undefined" height="height:70vh"></canvas>
                    </div>
                </div>
                <div class="flex justify-between p-2">
                    <div class="text-gray-400">Source: <a
                            href="https://opendata.cbs.nl/statline/#/CBS/nl/dataset/70895ned/table?fromstatweb">CBS</a>
                    </div>
                    <div class="justify-end text-gray-400"><a
                            href="https://github.com/Sikerdebaard/opencoronastats/wiki/Mortality-displacement-over-the-polulation-of-NL-by-weeknumber">Explanation</a>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>
        </div>

        <!-- /charts -->

        <div class="w-full p-2">
            <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="data.csv">download raw chart
                data</a></div>
            <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="demographics.csv">download raw
                demographics data</a></div>
            <div class="text-gray-700 text-center p-2"><a class="text-gray-500" href="mortality_displacement.csv">download
                raw mortality displacement data</a></div>
            <div class="text-gray-700 text-center p-2"><a class="fab fa-github fa-2x"
                                                          href="https://github.com/Sikerdebaard/opencoronastats"></a>
            </div>
            <div class="text-gray-700 text-center p2">&copy; 2020 covid-analytics.nl | Alle rechten voorbehouden | <a
                    href="https://github.com/Sikerdebaard/opencoronastats/blob/master/LICENSE">Disclaimer</a></div>
        </div>
    </div>
</div>

</body>

</html>
