{% block scripts %}
<script type="text/javascript">
    var chartdata = {{ data | tojson | safe }}
    var chartconfig = {{ chart_config | tojson | safe }}
    var cards = {{ card_keys | tojson | safe }}
	{% include "plotdata.js" %}
</script>
{% endblock %}

{% for card_row in cards %}
<div class="flex flex-wrap">
    {% for card in card_row %}
    <div id="{{ card.id }}" class="w-full lg:w-1/2 xl:w-1/2 p-3">
        <!--Metric Card-->
        <div class="bg-green-100 border-b-4 border-green-600 rounded-lg rounded-xl shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-green-600"><i
                            class="fa {{ card.icon }} fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right xl:text-center">
                    <h5 id="{{ card.id }}-title" class="font-bold uppercase text-gray-600"></h5>
                    <h3 class="font-bold text-3xl">
                        <div id="{{ card.id }}-value" class="inline"></div>
                        {{ card.postfix }}<span class="text-green-500"><i id="{{ card.id }}-arrow" class="fas fa-caret-up"></i></span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="flex {% if card.sources is defined %}{% else %} justify-end {% endif %} p-2">
            {% if card.sources is defined %}
                {% if card.sources.keys() | length > 1 %}
                    <div class="justify-begin text-gray-400">Sources:
                {% else %}
                    <div class="text-gray-400">Source:
                {% endif %}
                {% for name, url in card.sources.items() %}
                  <a href="{{ url }}">{{ name }}</a>
                {% endfor %}
                </div>
            {% endif %}
            {% if card.explanation is defined %}
            <div class="justify-end text-gray-400"><a href="{{ card.explanation }}">Explanation</a></div>
            {% endif %}
        </div>
        <!--/Metric Card-->
    </div>
    {% endfor %}
</div>
{% endfor %}

{% for chart_row in charts %}
<div class="flex flex-row flex-wrap flex-grow mt-2">
    {% for chart in chart_row %}
    <div class="w-full xl:w-1/2 xl:w-1/2 p-3">
        <!--Graph Card-->
        <div class="bg-white border-transparent rounded-lg rounded-xl shadow-xl">
            <div class="bg-gray-400 uppercase text-gray-800 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg rounded-tl-xl rounded-tr-xl p-2">
                <h5 class="font-bold uppercase text-gray-600">{{ chart.title }}</h5>
            </div>
            <div class="p-5 min-h-70p max-h-70p">
                <canvas id="{{ chart.name }}" class="chartjs" width="undefined" height="undefined"></canvas>
            </div>
        </div>
        <div class="flex {% if chart.sources is defined %}{% else %} justify-end {% endif %} p-2">
            {% if chart.sources is defined %}
                {% if chart.sources.keys() | length > 1 %}
                    <div class="text-gray-400">Sources:
                {% else %}
                    <div class="text-gray-400">Source:
                {% endif %}
                {% for name, url in chart.sources.items() %}
                  <a href="{{ url }}">{{ name }}</a>&nbsp
                {% endfor %}
                </div>
            {% endif %}
            {% if chart.explanation is defined %}
            <div class="justify-end text-gray-400"><a href="{{ chart.explanation }}">Explanation</a>
            </div>
            {% endif %}
        </div>
        <!--/Graph Card-->
    </div>
    {% endfor %}
</div>
{% endfor %}